#newGameButton {
    font-family: 'Nanum Pen Script';
    font-size: 30px;
}

#newGame {
    font-size: 30px;
}

#viewBoard {
    margin-top: 20px;
    font-family: 'Nanum Pen Script';
    font-size: 30px;
    border: solid black 2px;
    padding: 0 1em;
}