@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.wordListSection {
    overflow: hidden;
    font-size: 2rem;
}

.list {
    height: 500px;
    overflow-y: scroll;
}

.inputDiv {
    height: 50px;
    width: 80%;
    margin: auto;
}

.inputField {
    min-width: 100%;
    font-size: 1.75rem;
    font-family: 'Nanum Pen Script';
}
