@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.wordListSection {
    width: 100%;
    border: black solid 3px;
    box-sizing: border-box;
    padding: 0.3em;
    padding-bottom: 4px;
    overflow: hidden;
    font-size: 2rem;
}

.list {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden
}

.inputDiv {
    height: 50px;
    width: 90%;
    margin: auto;
}

.inputField {
    min-width: 95%;
    font-size: 1.75rem;
    font-family: 'Nanum Pen Script';
}

.incorrect {
    text-decoration: line-through;
}

.answerInput {
    text-align: left;
}

.answerPoints {
    margin: 0px;
}