@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

#mainWrap {
    font-family: 'Nanum Pen Script';
}

#title {
    margin: 10px;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 120px;
    letter-spacing: 0em;
    text-align: center;
}

#help {
   font-size: 30px;
}

#howToPlayButton {
    font-family: 'Nanum Pen Script';
    font-size: 30px;
}

.newGameButtonWrap {
    border: solid #37A649 3px;
    background-color: #37A649;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
    padding: 0.5em 0;
    margin: 40px 50px 0 0;
    border-radius: 10px;
    cursor: pointer;
}

img {
    max-width: 30px;
}