@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

#mainWrap {
    font-family: 'Nanum Pen Script';
}

#title {
    margin: 10px; 
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 120px;
    letter-spacing: 0em;
    text-align: center;
}

#help {
    font-size: 30px;
}

#modal {
    font-family: 'Nanum Pen Script';
    font-size: 35px;
    width: 50%;
    line-height: 50px;
}

#modalTitle {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
}

.modalTable {
    border: solid black 3px;
    padding: 0.3em;
    font-weight: 300;
    font-size: 75px;
    text-align: center;
    font-family: 'Nanum Pen Script', sans-serif;
    width: 25%;
}